<!DOCTYPE html>
<html>
    <head>
        <title>Simple-Blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="text-secondary navbar-brand" href="#">Simple-Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts/new">New Post</a>
                    </li>
                </ul>
               <ul class="navbar-nav ml-auto">
                <% if (!currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                <% } else { %>
                    <li class="navbar-text font-weight-bold mr-2">
                        Hello, <%= currentUser.username %>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/deregister">Deregister</a>
                    </li>
                <% } %>
                </ul>                
            </div>
        </nav>
        
        <div class="text-center">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-warning mb-0" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success mb-0" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        
        <img src="/images/banner-image.jpg" class="img-fluid" alt="banner-image">